<p>
  <mat-toolbar>
    <span>The Breaking Bad API </span>


    <span class="example-spacer"></span>

    <div class="example-button-container">
      <button mat-icon-button class="example-icon favorite-icon" routerLink="/home/character">
        <mat-icon>person</mat-icon>
        <p>Character</p>
      </button>
    </div>


    <div class="example-button-container">
      <button mat-icon-button class="example-icon favorite-icon" routerLink="/home/episode">
        <mat-icon>personal_video</mat-icon>
        <p>Episode</p>
      </button>
    </div>



    <div class="example-button-container">
      <button mat-icon-button class="example-icon favorite-icon" routerLink="/home/quote">
        <mat-icon>local_library</mat-icon>
        <p>Quote</p>
      </button>
    </div>

    <div class="example-button-container">
      <button mat-icon-button class="example-icon favorite-icon" routerLink="/home/death">
        <mat-icon>healing</mat-icon>
        <p>Death</p>
      </button>
    </div>

    <div class="example-button-container">
      <button mat-icon-button  routerLink="/login">
        <p>Logout</p>
      </button>
    </div>

  </mat-toolbar>
</p>

<router-outlet></router-outlet>